# DRAFT — generated by pen.dev from /dashboard. Nothing here was written by hand.
#
# House style read from apis/accounts-balance.openapi.yaml: the security scheme, the correlation header, the
# error shape, the collection envelope and the server list are that file's, copied.
#
# Every property carries x-pen-evidence naming the layer that shows it. Types and
# requiredness are derived; constraints are NOT — a reviewer still has to tighten them.
# Search for TODO before merging.
openapi: 3.0.1
info:
  title: Retail dashboard experience
  version: 0.1.0
  description: DRAFT. Experience API for the /dashboard journey of Example Bank, proposed because 2
    element(s) on that screen reach nothing the catalog sanctions. Derived from the design, not
    written by hand — see x-pen-evidence on every property.
  contact:
    name: Retail Channel
    url: https://backstage.examplebank.cz/catalog/default/group/retail-channel
  license:
    name: Example Bank internal — not for external distribution
    url: https://intranet.examplebank.cz/api-governance/spec-terms
  x-catalog-ref: api:default/offers-engine
  x-data-classification: TODO
  x-channel-safe: true
  x-pen-derived-from:
    screen: /dashboard
    nodes:
      - activity-tile
      - offers-tile
    catalog_revision: sha256:d607babec88814f9b8e346857cc8ec139c548b410841adf2ac54ea8a6ab39762
servers:
  - url: https://api.examplebank.cz
    description: Experience tier (BFF). Reachable from customer channels.
security:
  - customerSession:
      - activity.read
      - offers.read
paths:
  /experience/dashboard/activity:
    get:
      operationId: getDashboardActivity
      summary: Recent activity on /dashboard
      tags:
        - dashboard
      security:
        - customerSession:
            - activity.read
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: What activity-tile displays.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityEntryPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /experience/dashboard/offers:
    get:
      operationId: getDashboardOffers
      summary: Offers for you on /dashboard
      tags:
        - dashboard
      security:
        - customerSession:
            - offers.read
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: What offers-tile displays.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Offer"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
components:
  securitySchemes:
    customerSession:
      type: oauth2
      description: Customer session token issued by api:default/identity-api.
      flows:
        authorizationCode:
          authorizationUrl: https://id.examplebank.cz/oauth2/authorize
          tokenUrl: https://id.examplebank.cz/oauth2/token
          scopes:
            activity.read: Read what /experience/dashboard/activity returns for the /dashboard journey.
            offers.read: Read what /experience/dashboard/offers returns for the /dashboard journey.
  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: true
      description: Propagated unchanged across every hop. Required on all Example Bank operations.
      schema:
        type: string
        format: uuid
  schemas:
    ActivityEntry:
      description: Derived from what /dashboard shows in activity-tile. Every property carries
        x-pen-evidence naming the layer it came from; none of them was invented.
      type: object
      required:
        - occurredAt
        - description
        - amount
        - direction
      properties:
        occurredAt:
          type: string
          format: date-time
          x-pen-evidence: /dashboard · activity-tile · Row / timestamp
        description:
          type: string
          x-pen-evidence: /dashboard · activity-tile · Row / merchant
        amount:
          type: string
          description: Decimal string. Money is not a double.
          x-pen-evidence: /dashboard · activity-tile · Row / amount
        direction:
          type: string
          enum:
            - debit
            - credit
          x-pen-evidence: /dashboard · activity-tile · Row / amount colour
        category:
          type: string
          x-pen-evidence: /dashboard · activity-tile · Row / category chip
    ActivityEntryPage:
      type: object
      required:
        - items
        - totalCount
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ActivityEntry"
        totalCount:
          type: integer
          format: int32
          minimum: 0
    Offer:
      description: Derived from what /dashboard shows in offers-tile. Every property carries
        x-pen-evidence naming the layer it came from; none of them was invented.
      type: object
      required:
        - offerId
        - headline
        - body
        - ctaLabel
        - ctaHref
      properties:
        offerId:
          type: string
          x-pen-evidence: /dashboard · offers-tile · (not shown — needed to dismiss it)
        headline:
          type: string
          x-pen-evidence: /dashboard · offers-tile · Offer / headline
        body:
          type: string
          x-pen-evidence: /dashboard · offers-tile · Offer / body copy
        ctaLabel:
          type: string
          x-pen-evidence: /dashboard · offers-tile · Offer / CTA button
        ctaHref:
          type: string
          format: uri
          x-pen-evidence: /dashboard · offers-tile · Offer / CTA button link
        validUntil:
          type: string
          format: date
          x-pen-evidence: /dashboard · offers-tile · Offer / fine print
    Problem:
      description: RFC 9457 problem details. The single error shape for every Example Bank API.
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
          format: uri
        correlationId:
          type: string
          format: uuid
  responses:
    Unauthorized:
      description: No valid customer session.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: Session is valid but lacks the required scope.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    TooManyRequests:
      description: Channel rate limit exceeded.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    InternalError:
      description: Unexpected failure. Never carries upstream detail.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
